/* Base styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  color: #4A5568; /* Dark gray */
  font-family: 'Roboto', sans-serif;
}

th {
  background-color: #F7FAFC; /* Light gray */
  color: #2D3748; /* Darker gray for header */
  font-weight: 600;
  text-transform: uppercase;
}

/* Hover effect for rows */
tr:hover {
  background-color: #EDF2F7; /* Light hover color */
}

/* Styling for the recurrent field */
.recurrent-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

/* Green and Red Lights */
.recurrent-yes {
  background-color: #48BB78; /* Green */
}

.recurrent-no {
  background-color: #F56565; /* Red */
}

/* Add some spacing and styling for the table container */
.table-container {
  overflow-x: auto;
  padding: 20px;
}

/* Add responsive design for small screens */
@media (max-width: 768px) {
  th, td {
    padding: 8px 10px;
  }



}


/* Add some styling for the delete button */
button {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #F56565;
  color: white;
}

button:focus {
  outline: none;
}

button.text-red-600 {
  color: #F56565;
}

button.text-red-600:hover {
  color: white;
}
.modify-btn {
  color: #1d4ed8; /* blue-700 color */
  background-color: transparent;
  border: 2px solid #1d4ed8; /* blue-700 border */
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* rounded corners */
  transition: all 0.3s ease; /* smooth transition for hover effects */
}

.modify-btn:hover {
  color: #ffffff; /* text turns white on hover */
  background-color: #22c55e; /* green-500 background on hover */
  border-color: #22c55e; /* green-500 border on hover */
}
.delete-btn {
  color: #ef4444; /* red-600 color */
  background-color: transparent;
  border: 2px solid #ef4444; /* red-600 border */
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* rounded corners */
  transition: all 0.3s ease; /* smooth transition for hover effects */
}

.delete-btn:hover {
  color: #ffffff; /* text turns white on hover */
  background-color: #dc2626; /* red-700 background on hover */
  border-color: #dc2626; /* red-700 border on hover */
}


